{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}


<div class="profile col-12 col-sm-4 push-sm-8 text-center">
  <img src="{{ author.avatar }}" class="rounded img-fluid">
  <div class="contact-links">
    <div class="short-bio">{{ author.bio }}</div>
    <div class="social-links">
      <a href="https://github.com/{{ author.github }}"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="{{author.linkedin}}"><i class="fa fa-linkedin"></i></a>
      <a href="{{author.orcid}}"><i class="ai ai-orcid"></i></a>
      <a href="{{author.googlescholar}}"><i class="ai ai-google-scholar-square"></i></a>
    </div>
    <div class="cv">
      <a href = "files/CV_CLM.pdf">CV<i class="fa fa-file-o" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
